*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
	background: #222222;
}
.app
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app .calculator
{
    background-color: rgba(7, 7, 7, 0.925);
    width: 100%;
    color: white;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}
.display
{
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex: 1 1 0%;
}
.display .input
{
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}
.display .output
{
    font-size: 2rem;
    font-weight: 700;
    max-width: 100%;
    overflow: auto;
}
.display .operator
{
    color: #eb6666;
}
.display .brackets, .percent
{
    color: #26fed7;
}
.keys
{
    background-color: #292d36;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1.5rem;
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.2);
}
.keys .key{
    position: relative;
    cursor: pointer;

    display: block;
    height: 0;
    padding-top: 100%;
    border-radius: 0.5rem;
    background-color: #262933;
    transition: 0.2s;
    user-select: none;
    box-shadow: inset 0 0 8px black;
}
.keys .key span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-weight: 700;
}
.keys .key:hover
{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
.keys .key.operator span
{
    color: #26fed7;
}
.keys .key.more-op span
{
    color: #dd8585;
}

@media (max-width:360.98px) 
{
    .app .calculator
    {
        width: 90%;
    }
    .keys .key span
    {
        font-size: 10px;
    }
    .app .calculator
    {
       min-height: 200px;
    }
    .display
    {
        min-height: 150px;
    }
    .display .input
    {
        font-size: 10px;
    }
    .display .output
    {
        font-size: 12px;
    }
}
@media (max-width:218.98px) 
{
    .app .calculator
    {
        width: 90%;
    }
    .keys .key span
    {
        font-size: 8px;
    }
    .app .calculator
    {
       min-height: 200px;
    }
    .display
    {
        min-height: 100px;
    }
    .keys
    {
        grid-gap: 1rem;
    }
}